<style>

  *{
    background-color : #ccdcff;
}

  .button {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: green;
    color:white;
    padding: 2px 6px 2px 6px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    border-bottom: 3px solid #333333;
    border-left: 3px solid #333333;
    right : 0;
  } 
</style>
{% load i18n %}


{% block content %}
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit"  class ="button">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}