<style>
    *{
        background-color : #ccdcff;
    }
    .button {
        font: bold 20px Arial;
        text-decoration: none;
        background-color: green;
        color:white;
        padding: 2px 6px 2px 6px;
        border-top: 3px solid #333333;
        border-right: 3px solid #333333;
        border-bottom: 3px solid #333333;
        border-left: 3px solid #333333;
        right : 0;
      }
</style>


<h1>Waiting for the cx to upload the Statement. Please refresh to check the status</h1>

<a href='{% url "statUploadCheck" cx.id %}' class="button">Check the current status</a>